
/* DEBUG */

.debug{
  border: 1px solid black;
}

.h100{
  height: 100px;
}

.h200{
  height: 200px;
}

.h300{
  height: 300px;
}

.h500{
  height: 500px;
}

.h700{
  height: 700px;
}


/* UTILITIES */

/* Ho eliminato le classi % grande in favore della classe container di defoult di boostrap
.smv-container-big{
  width: 80%;
  margin: auto;
} */

.smv-container-small{
  width: 60%;
  margin: auto;
}

.blue{
  background-color: #2c3e50;
  color: white;
}

.green{
  background-color: #1abc9c;
  color: white;
}

.light-blue{
  background-color: #3A546D;
  color: white;
}

.barra-star{
  width: 120px;
  height: 4px;
  background-color: black;
  border-radius: 50px;
}

.barra-star-white{
  background-color: white;
}

.star-center{
  font-size: 30px;
  margin: 10px;
}



/* HEADER */
header{
  width: 100%;
  height: 100px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.smv-font-size{
  font-size: 40px;
}

.smv-font-bold{
  text-transform: uppercase;
  font-weight: bold;
}

.smv-bg{
  height: 100%;
  background-color: #2c3e50 !important;
}

.smv-border-bars{
  color: rgba(255,255,255,0.5) !important;
  border-color: rgba(255,255,255,0.5) !important;
}

.smv-white{
  color: white !important; 
}

/* header i{
  color: white;
} */

/* JUMBOTRON */

.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin-top: 100px;
}

.box-jumbo{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-jumbo img{
  height: 100%;
}


h1{
  margin: auto;
}

/* MAIN */

.btn-download{
  width: 100px;
  margin: auto;
}

.smv-card{
  height: 100%;
  position: relative;
}

.smv-card img{
  width: 100%;
  border-radius: 20px;
}

.smv-overlay{
  display: none;
  height: 100%;
  width: 100%;
  background-color: #1abc9c;
  opacity: 0.5;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.smv-card:hover .smv-overlay{
  display: inline-block;
}

.smv-card i{
  display: none;
  position: absolute;
  color: white;
  font-size: 100px;
}

.smv-card:hover i{
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.smv-btn-outline{
  color: white;
  border-color: white;
}

.smv-btn-outline:hover{
  color: black;
  background-color: white;
  border-color: white;
}

.smv-btn-outline:focus {
  box-shadow: 0 0 0 0.25rem rgba(76, 76, 77, 0.5);
}

.smv-border-form{
  width: 100%;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  line-height: 50px;
}

.smv-submit{
  background-color: #1abc9c;
  border-radius: 5px;
  border: #1abc9c;
  color: white;
}




/* FOOTER */

.circular-brand{
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
  line-height: 40px;
}

.text-evidenziato{
  color: #1abc9c;
}


/* MEDIA QUERY */

@media screen and (max-width:576px) {
  .smv-font-size{
    font-size: 30px;
  }
  .barra-star{
    width: 80px;
  }
}